body {
	text-align: center;
}

.section {
	padding-bottom: 30px;
}

.invisible-text {
	opacity: 0.0;
}

#social-links {
	padding-left: 6px;
}

.social-icon {
	font-size: 1.8em;
	padding-right: 20px;
}

#cv-download {
	font-size: 1.6em;
}